/*
Anmol Nagpal (sheridan))
*/

body{
    text-align:center;
    font-size:1.5em;
}
div{
    margin-bottom:8%;
}
h1{
    font-weight:lighter;
}

a{
    font-size:0.8em;
    font-style:italic;
    text-decoration: none;
}

a:hover{
    color:blue;
}

input{
    font-size:1.15em;
    margin:1%;
}

.field{
    width:80%;
    height: 75px;
    margin: 3% 0;
}

.button{
    border:0px;
    color:white;
    font-size:1em;
    padding:10px;
    box-shadow: 0 0 5px 0 black;
}

#encrypt{
    background-color:#3fe86c;
}

#decrypt{
    background-color:#e84a3f;
}

footer{
    color:white;
    background-color:black;
    padding:3%;
}