/*
Anmol Nagpal (sheridan))
*/

body{
    text-align:center;
    font-size:1em;
    margin:0;
    padding:0;
}
div{
    margin-bottom:8%;
}
h1{
    font-weight:lighter;
}

a{
    font-style:italic;
    text-decoration: none;
    margin: 2% 0;
    display:block;
}

a:hover{
    color:blue;
}

input{
    margin:1%;
}

.field{
    width:50%;
    height:25px;
    margin: 3% 0 0 0;
}

.button{
    border:0px;
    color:white;
    padding:1%;
    box-shadow: 0 0 5px 0 black;
}

#encrypt{
    background-color:#3fe86c;
}

#decrypt{
    background-color:#e84a3f;
}


.button:hover{
    color:black;
    transition:color 1s;
}

.button:not(hover){
    color:white;
    transition:color 1s;
}

footer{
    position:absolute;
    color:white;
    background:linear-gradient(darkcyan, darkslategrey);
    bottom:0;
    width:100%;
}